<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="triton.unlinked" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen -->
        <activity
            android:name="triton.unlinked.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Activity -->
        <activity
            android:name="triton.unlinked.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Course Profile Activity -->
        <activity
            android:name="triton.unlinked.CourseProfileActivity"
            android:label="@string/title_activity_course_profile"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <!-- Professor Profile Activity -->
        <activity
            android:name="triton.unlinked.ProfessorProfileActivity"
            android:label="@string/title_activity_professor_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="triton.unlinked.RoomActivity"
            android:label="@string/title_activity_room"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="triton.unlinked.BrowseActivity"
            android:label="BrowseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo">
        </activity>
    </application>

</manifest>
